extends layout

block content
  div(style='margin-top: 20%')
    p(style='font-size: 2em') Upload your CV
    br
    br
    form(method='post', enctype='multipart/form-data', action='/upload')
      input(type='file', name='cv')
      br
      br
      input(type='submit', value='Submit')