doctype html
html
  head
    title CV OCR
    link(rel='stylesheet', href='/stylesheets/style.css')  
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
    script(src='https://code.getmdl.io/1.3.0/material.min.js')
  body
    block content
