extends layout

block content
  a(href='/') Upload another CV
  h3 First name
  p= firstName
  br
  br
  h3 Last name
  p= lastName
  br
  br
  h3 Email
  p= email
  br
  br
  h3 Education
  p(style='white-space:pre;')= education
  br
  br
  h3 Skills
  p(style='white-space:pre;')= skills
